<div id="signinWrapper" class="authOrgRegister">
  <div id="pageSignin">
    <div class="intro-company">Register for<br><strong><%- companyInfo.name %></strong>.</div>
    <div class="login-form">
      <input type="hidden" id="inviteKey" value="<%= inviteKey %>">
      <div><input type="text" class="disabled" id="email" placeholder="Company Email" value="<%= email %>" disabled></div>
      <div><input type="text" id="nameFirst" placeholder="First Name"></div>
      <div><input type="text" id="nameLast" placeholder="Last Name"></div>
      <div><input type="password" id="passwordOne" placeholder="Password"></div>
      <div><input type="password" id="passwordTwo" placeholder="Password Again"></div>
    </div>
    <div class="press-enter">Press enter to register.</div>
  </div>
</div>