<div id="signinWrapper" class="authRegister">
  <div id="pageSignin">
    <div class="intro-company">Welcome to CozyHR!</div>
    <div class="login-form">
      <div><input type="text" id="companyName" placeholder="Company Name"></div>
      <div><input type="text" id="email" placeholder="Your Company Email"></div>
      <div><input type="text" id="subdomain" placeholder="Company Subdomain"></div>
      <div><input type="text" id="nameFirst" placeholder="First Name"></div>
      <div><input type="text" id="nameLast" placeholder="Last Name"></div>
      <div><input type="password" id="passwordOne" placeholder="Password"></div>
      <div><input type="password" id="passwordTwo" placeholder="Password Again"></div>
    </div>
    <div class="press-enter">Press enter to start enjoying the benefits of CozyHR.</div>
  </div>
</div>

<!-- Initialize Script -->
<script>
  CozyHR.pageHelper.init( CozyHR.pageHelpers.signin );
  CozyHR.pageHelper.queue('CozyHR.pageHelper.instance.initRegister()');
</script>