<div id="signinWrapper" class="authSignin">
  <% if(typeof companyInfo !== 'undefined') { %>
  <div id="pageSignin">
    <div class="intro">Sign in to <strong>CozyHR</strong>!</div>
    <div class="intro-company">Comfortably log in to <strong><%- companyInfo.name %></strong>.</div>
    <div class="login-form">
      <div><input type="text" id="email" placeholder="Company Email"></div>
      <div><input type="password" id="password" placeholder="Password"></div>
    </div>
    <div class="press-enter">Press enter to sign in.</div>
  </div>
  <% } else { %>
  <div id="pageSignin">
    <div class="intro">Welcome to <strong>CozyHR</strong>!</div>
    <div class="intro-company">No company exists under this domain.</div>
  </div>
  <% } %>
</div>

<!-- Initialize Script -->
<script>
  var _inst = new SIGNIN_UTILS();
  _inst.init();
</script>