<div id="signinWrapper" class="authSignin">
  <a href="http://www.cozyhr.com"><div id="logo"></div></a>
  <% if(typeof companyInfo !== 'undefined') { %>
  <div id="pageSignin">
    <div class="intro-company"><%- companyInfo.name %></div>
    <div class="login-form">
      <div><input type="text" id="email" placeholder="Company Email"></div>
      <div><input type="password" id="password" placeholder="Password"></div>
    </div>
    <div class="press-enter">Press enter to sign in.</div>
  </div>
  <% } else { %>
  <div id="pageSignin">
    <div class="intro-nocompany"><%- errorMessage %></div>
  </div>
  <% } %>
</div>