<form action="/auth/do_signin" method="post">
	<input type="text" id="email" name="email">
	<br>
	<input type="password" id="password" name="password">
	<br>
	<input type="submit" name="btnLogin" value="Login">
</form>