/* Admin Styling */

#mainContainer #pageAdmin {
  margin-top: 10px;

  input[type=text] {
    .input-text;
  }

  input[type=submit] {
    .input-btn-gray;
  }

  input[type=button] {
    .input-btn-gray;

    &.red {
      .input-btn-red;
    }
  }

  .admincontent {
    .back {
      text-align: right;
      padding: 3px;
      font-size: 12px;
      a { color:#000; text-decoration: none; }
      a:hover { text-decoration: underline; }
    }

    .section .content {
      .left-align {
        text-align: left;
      }

      .center-align {
        text-align: center;
      }

      .settingWrapper {
        overflow: auto;

        &.save {
          background-color: #0f0;
        }

        &:not(:last-child) {
          padding-bottom: 5px;
        }

        &:not(:first-child) {
          border-top: 1px solid #eee;
          padding-top: 5px;
        }

        .info {
          float: left;
          width: 60%;
          padding: 5px;


          .title {
            font-weight: bold;

            &.green { color: #060; }
            &.red { color: #600; }
          }

          .subtitle {
            font-size: 12px;
            color: #666;

            &.green { color: #83a683; }
            &.red { color: #964747; }
          }
        }

        .info-alone {
          padding: 5px;
          font-size: 12px;
          color: #666;

          &.red { color: #600; }
        }

        .setting {
          float: right;
          width: 40%;
          font-size: 12px;

          &.right {
            text-align: right;
          }

          &.margin3 { margin-top: 3px; }

          .text {
            margin-top: 3px;
          }

          input[type=text] {
            margin-top: 8px;
            width: 98%;

            &.disabled {
              color: #868686;
            }
          }

          input[type=button] {
            margin-top: 10px;

            &.large { height: 30px; }
            &.margin15 { margin-top: 15px; }
            &.margin20 { margin-top: 20px; }
          }

          select {
            margin-top: 12px;
          }
        }
      }

      #companyEmployees {
        .name {

        }

        .email {
          color: #999;
          font-size: 12px;
        }

        .position {
          text-align: left;
        }

        .office {
          text-align: center;
        }
      }

      a, span {
        color: #000;
        text-decoration: none;
        cursor: pointer;

        &:hover { text-decoration: underline; }
      }
    }
  }
}