/* Admin Styling */

#mainContainer #pageAdmin {
  input[type=text] {
    .input-text;
  }

  input[type=submit] {
    .input-btn-gray;
  }

  input[type=button] {
    .input-btn-gray;

    &.red {
      .input-btn-red;
    }
  }

  .admincontent {
    margin-top: 20px;

    .back {
      text-align: right;
      padding: 3px;
      font-size: 12px;
      a { color:#000; text-decoration: none; }
      a:hover { text-decoration: underline; }
    }

    .section .content {
      .left-align {
        text-align: left;
      }

      .center-align {
        text-align: center;
      }

      .settingWrapper {
        overflow: auto;

        &.save {
          background-color: #0f0;
        }

        &:not(:last-child) {
          padding-bottom: 5px;
        }

        &:not(:first-child) {
          border-top: 1px solid #eee;
          padding-top: 5px;
        }

        .info {
          float: left;
          width: 60%;
          padding: 5px;


          .title {
            font-weight: bold;

            &.green { color: #060; }
          }

          .subtitle {
            font-size: 12px;
            color: #666;

            &.green { color: #83a683; }
          }
        }

        .setting {
          float: right;
          width: 40%;

          input[type=text] {
            margin-top: 8px;
            width: 98%;
          }

          input[type=button] {
            margin-top: 10px;
          }
        }
      }

      #companyEmployees {
        .name {

        }

        .email {
          color: #999;
          font-size: 12px;
        }

        .position {
          text-align: left;
        }

        .office {
          text-align: center;
        }
      }

      a {
        color: #000;
        text-decoration: none;

        &:hover { text-decoration: underline; }
      }
    }
  }
}