<div id="pageAdmin" class="row sectionContainer">
  <div class="-1u 2u sidemenu">
    <a class="item" href="/admin/general"><div class="<% if(selectedSection=="general"){ %>selected<% } %>">General</div></a>
    <a class="item" href="/admin/employees"><div class="<% if(selectedSection=="employees"){ %>selected<% } %>">Employees</div></a>
    <a class="item" href="/admin/roles"><div>Roles</div></a>
  </div>
  <div class="8u admincontent">
    <% if(selectedSection=="general"){ %>
      <%- partial('general') %>
    <% } %>

    <% if(selectedSection=="employees"){ %>
      <%- partial('employees') %>
    <% } %>
  </div>
</div>

<!-- Initialize Script -->
<script>

</script>