/* Timeclock Styling */

#mainContainer #pageTimeclock {
  .sectionWorkingOn, .sectionTimeclock {
    padding-top: 20px !important;
  }

  .sectionWorkingOn {
    .label {
      padding: 2px 8px;
      font-weight: bold;
    }

    .office {
      margin: 0 5px 5px 5px;

      select {
        width: 100%;
      }
    }

    .position {
      a {
        text-decoration: none;
        color: #333;
      }

      div {
        .input-btn-gray;
        margin: 5px;
        padding: 15px 5px;
        text-align: center;
      }
    }

    .no-positions {
      padding: 20px;
      text-align: center;
    }

    #sectionClockedIn .content {
      overflow: auto;

      .left {
        text-align: left;
        float: left;
        width: 50%;
      }

      .right {
        text-align: right;
        float: left;
        width: 50%;

        #clockInTime {
          color: #999;
          font-size: 12px;
        }
      }

      a {
        font-size: 11px;
        color: #999;
        text-decoration: none;

        &:hover {
          color: #666;
        }
      }
    }
  }

  .sectionTimeclock {
    .clocksContainer {
      border: 1px solid @bordercolor;

      .head {
        .menugradiant(#f7f7f7, #e8e8e8);
        height: 35px;
        border-bottom: 1px solid @bordercolor-lighter;
        overflow: hidden;

        .columnTitle {
          .generalfont(12px, #000, bold);
          float: left;
          padding: 8px;

          @media @desktop {
            &.worked { width: 25%; }
            &.day { width: 20%; text-align: right; }
            &.clockinout { width: 20%; text-align: center; }
            &.total { width: 15%; text-align: right; }
          }

          @media @desktop-small {
            &.worked { width: 20%; }
            &.day { width: 20%; text-align: right; }
            &.clockinout { width: 20%; text-align: center; }
            &.total { width: 20%; text-align: right; }
          }
        }
      }

      #clocks {
        background-color: #fbfbfb;
        overflow: auto;

        .loading {
          padding: 10px 0 10px 0;
          font-size: 24px;
          text-align: center;
        }

        .no-time {
          text-align: center;
          padding: 10px 0 10px 0;
          .generalfont(12px);
        }

        .clock-entry {
          overflow: auto;
          padding: 3px;

          .column {
            .generalfont(12px);
            float: left;
            padding: 8px;

            @media @desktop {
              &.worked { width: 25%; }
              &.day { width: 20%; text-align: right; }
              &.clockinout { width: 20%; text-align: center; }
              &.total { width: 15%; text-align: right; }
            }

            @media @desktop-small {
              &.worked { width: 20%; }
              &.day { width: 20%; text-align: right; }
              &.clockinout { width: 20%; text-align: center; }
              &.total { width: 20%; text-align: right; }
            }

            .lighter { color: #999; }

            .day {
              background-color: #414141;
              color: #fff;
              font-size: 11px;
              padding: 3px 5px;
              border: 1px solid #000;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }

}