<div id="bottomMenu">
  <div class="container">
    <div class="row">
      <div class="12u">
        <div class="versionInfo">
          &copy; 2014 CozyHR, Inc
        </div>
        <div class="linkInfo">
          <a href="#">Home</a>
          <a href="#">Support</a>
        </div>
      </div>
    </div>
  </div>
</div>