<div id="topMenu">
	<div class="container">
		<div class="row">
			<div class="11u">
			  <div class="menuitem"><a class="<% if(selectedPage=="dash"){ %>selected<% } %>" href="/dash">Dashboard</a></div>
			  <div class="menuitem"><a class="" href="#">You</a></div>
			  <div class="menuitem"><a class="" href="#">Calendar</a></div>
			  <div class="menuitem"><a class="<% if(selectedPage=="timeclock"){ %>selected<% } %>" href="/timeclock">Timeclock</a></div>
			</div>
			<div class="1u">
			  <div class="menuitem"><a href="/auth/signout">Signout</a></div>
			</div>
		</div>
	</div>
</div>