<div id="pageAdmin" class="sectionContainer">
  <%- partial('../../partials/breadcrumbs') %>
  <div class="row">
    <div class="-1u 2u sidemenu">
      <div class="head"><i class="fa fa-cubes"></i>&nbsp;<%= role.jobTitle  %></div>
      <a class="item" href="?section=info"><div class="<% if(selectedSection=="info"){ %>selected<% } %>">Job Information</div></a>
      <a class="item" href="?section=employees"><div class="<% if(selectedSection=="employees"){ %>selected<% } %>">Employees</div></a>
    </div>
    <div class="8u admincontent">
      <% if(selectedSection=="info"){ %>
        <%- partial('partials/info') %>
      <% } %>
      <% if(selectedSection=="employees"){ %>
        <%- partial('partials/employees') %>
      <% } %>
    </div>
  </div>
</div>