<div class="section">
  <div class="content">
    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Manage the employees at <strong>{{session.userinfo.company.name}}</strong> from here.
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    Invite a New Employee
  </div>

  <div class="content">
    Employee Email:&nbsp;
    <input type="text" placeholder="Employee Email" ng-model="inviteEmployeeEmail" ng-enter="sendInvite()">&nbsp;
    <select id="selNewEmployeeRole">
      <option ng-repeat="role in roles" value="{{role.id}}">{{role.jobTitle}}</option>
    </select>&nbsp;
    <input type="button" value="Invite Employee" ng-click="sendInvite()">
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section" ng-if="invites.length > 0">
  <div class="header">
    Invited Employees
  </div>

  <div class="content">
    You've invited the following employees:
    <ul>
      <li ng-repeat="invite in invites">{{invite.inviteEmail}} in <strong>{{invite.invitedRole.jobTitle}}</strong> (<a href="#">resend email</a>) (<span ng-click="deleteInvite(invite.id)">delete invite</span>)</li>
    </ul>
  </div>
</div>

<div class="sectionSpace" ng-if="invites.length > 0"></div>

<div class="section">
  <div class="header">
    <i class="fa fa-users"></i>&nbsp;&nbsp;Employees
  </div>

  <div class="content">

    <table id="companyEmployees" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="left-align" width="50%">Employee</th>
          <th class="left-align" width="35%">Job Title (Role)</th>
          <th width="15%">Office</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="employee in employees">
          <td data-order="{{employee.lastName}}, {{employee.firstName}}">
            <a href="/#!/employee/{{employee.id}}"><div class="picture" style="background-image:url('{{employee.picture}}')"></div></a>
            <div class="name"><a href="/#!/employee/{{employee.id}}">{{employee.lastName}}, {{employee.firstName}}</a><br><span class="email">{{employee.email}}</span></div>
          </td>
          <td><a href="/#!/admin/role/{{employee.role.id}}"><div class="position">{{employee.role.jobTitle}}</div></a></td>
          <td><div class="office">-</div></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>