<div class="section">
  <div class="header">
    Basic Information
  </div>

  <div class="content">
    <div id="employeeContainer">

      <!-- Full Name -->
      <div class="settingWrapper">
        <div class="info">
          <div class="title">Full Name</div>
          <div class="subtitle">This is your full, legal name.</div>
        </div>
        <div class="setting"><input type="text" id="txtFullName" value="<%- employee.fullName() %>"></div>
      </div>

      <!-- Picture -->
      <div class="settingWrapper">
        <div class="info">
          <div class="title">Picture</div>
          <div class="subtitle">Your profile picture across the site.</div>
        </div>
        <div class="setting margin3">
          <div class="picture" style="background-image:url('<%= employee.picture %>')"></div>
          <div class="text">We use <strong>Gravatar</strong> for this.<br>Click <a href="http://www.gravatar.com" target="_new">here</a> to edit it.</div>
        </div>
      </div>

      <!-- Save -->
      <div class="settingWrapper">
        <div class="info">
          <div class="title green">Save</div>
          <div class="subtitle green">Be sure to save when you're done!</div>
        </div>
        <div class="setting"><input type="button" id="btnSaveSettings" value="Save Settings"></div>
      </div>
    </div>
  </div>
</div>

<script>
  CozyHR.pageHelper.queue( 'CozyHR.pageHelper.instance.initEmployee()' );
</script>