<div class="row">
	<div class="3u">
		<!-- You -->
		<div class="section sectionYou">
			<div>
				<div class="picture"></div>
				<div class="name"><strong><%- req.session.userinfo.fullName %></strong></div>
				<div class="position">CEO / Founder</div>
			</div>
		</div>
		<!-- Your Schedule -->
		<div class="section sectionYourSchedule">
			<h3>Your Schedule</h3>
		</div>
	</div>
	<div class="6u">
		<!-- Company Feed -->
		<div class="section sectionCompanyFeed">
			<div><h2>Company Feed</h2></div>
			<div id="subSectionCompanyFeedEntries">
				Loading news feed..
			</div>
		</div>
	</div>
	<div class="3u">
		<!-- Working Now -->
		<div class="section sectionWorkingNow">
			<h3>Working Now</h3>
		</div>
		<!-- Birthdays -->
		<div class="section sectionBirthdays">
			<h3>Birthdays</h3>
		</div>
	</div>
</div>

<!-- Scripts -->
<script src="/linker/js/dashboard.js"></script>