<div id="pageDashboard" class="row">
	<div class="3u">
		<!-- You -->
		<div class="section sectionYou">
			<div class="box">
				<div class="picture" style="background-image:url('<%- req.session.userinfo.picture %>')"></div>
				<div class="name"><strong><%- req.session.userinfo.fullName %></strong></div>
				<div class="position"><%- req.session.permissions.position %></div>
				<div class="sep"></div>
				<div class="info"><span class='pto tt' title='Paid Time Off'>PTO</span> 50.0 hours</div>
			</div>
		</div>
		<!-- Your Schedule -->
		<div class="section sectionYourSchedule">
			<div class="box">
				<div class="head"><h3>Your Schedule</h3></div>
				<div>More stuff..</div>
				<div>More stuff..</div>
			</div>
		</div>
	</div>
	<div class="6u">
		<!-- Company Feed -->
		<div class="section sectionCompanyFeed">
			<div><h2>Company Feed</h2></div>
			<div id="subSectionCompanyFeedEntries">
				Loading news feed..
			</div>
		</div>
	</div>
	<div class="3u">
		<!-- Birthdays -->
		<div class="section sectionBirthdays">
			<div class="box">
				<div class="head"><h3>Birthdays</h3></div>
				<div></div>
			</div>
		</div>
		<!-- Working Now -->
		<div class="section sectionWorkingNow">
			<div class="box">
				<div class="head"><h3>Working Now</h3></div>
				<div id="subSectionWorkers"></div>
			</div>
		</div>
	</div>
</div>

<!-- Initialize Script -->
<script>
	var _inst = new DASHBOARD_UTILS();
	_inst.init();
</script>