<div id="pageAdmin" class="sectionContainer">

  <div class="row">
    <div class="-1u 10u breadcrumbs">
      <div>
        <a href="/#!/admin/general" ng-bind="session.userinfo.company.name"></a>
        &nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;<a href="/#!/admin/general">Admin</a>
        <span ng-repeat="crumb in crumbs">
        &nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{crumb.location}}">{{crumb.name}}</a>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="-1u 2u sidemenu">
      <a class="item" href="/#!/admin/general"><div ng-class="{selected: adminsection === 'general'}">General</div></a>
      <a class="item" href="/#!/admin/employees"><div ng-class="{selected: adminsection === 'employees'}">Employees</div></a>
      <a class="item" href="/#!/admin/roles"><div ng-class="{selected: adminsection === 'roles'}">Roles</div></a>
      <a class="item" href="/#!/admin/offices"><div ng-class="{selected: adminsection === 'offices'}">Offices & Positions</div></a>
    </div>
    <div class="8u admincontent">

      <div ng-if="adminsection === 'general'">
        <admingeneral></admingeneral>
      </div>

      <div ng-if="adminsection === 'employees'">
        <adminemployees></adminemployees>
      </div>

      <div ng-if="adminsection === 'roles'">

      </div>

      <div ng-if="adminsection === 'offices'">

      </div>

    </div>
  </div>
</div>