<div id="pageAdmin" class="sectionContainer">

  <div class="row">
    <div class="-1u 10u breadcrumbs">
      <div>
        <a href="/#!/admin/general" ng-bind="session.userinfo.company.name"></a>
        &nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;<a href="/#!/admin/general">Admin</a>
        <span ng-repeat="crumb in crumbs">
        &nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{crumb.location}}">{{crumb.name}}</a>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Default Sidebar -->
    <div class="-1u 2u sidemenu" ng-show="sidebarType==='default'">
      <a class="item" href="/#!/admin/general"><div ng-class="{selected: adminSection === 'general'}">General</div></a>
      <a class="item" href="/#!/admin/employees"><div ng-class="{selected: adminSection === 'employees'}">Employees</div></a>
      <a class="item" href="/#!/admin/roles"><div ng-class="{selected: adminSection === 'roles'}">Roles</div></a>
      <a class="item" href="/#!/admin/offices"><div ng-class="{selected: adminSection === 'offices'}">Offices & Positions</div></a>
      <a class="item" href="/#!/admin/billing"><div ng-class="{selected: adminSection === 'billing'}">Billing</div></a>
    </div>
    <!-- Office Sidebar -->
    <div class="-1u 2u sidemenu" ng-show="sidebarType==='office'">
      <div class="head"><i class="fa fa-building-o"></i>&nbsp;&nbsp;{{officeName}}</div>
      <a class="item" href="/#!/admin/office/{{id}}/positions"><div ng-class="{selected: adminSubsection === 'positions'}">Positions</div></a>
    </div>
    <!-- Role Sidebar -->
    <div class="-1u 2u sidemenu" ng-show="sidebarType==='role'">
      <div class="head"><i class="fa fa-cubes"></i>&nbsp;&nbsp;{{roleName}}</div>
      <a class="item" href="/#!/admin/role/{{id}}/job"><div ng-class="{selected: adminSubsection === 'job'}">Job Information</div></a>
      <a class="item" href="/#!/admin/role/{{id}}/employees"><div ng-class="{selected: adminSubsection === 'employees'}">Employees</div></a>
    </div>

    <div class="8u admincontent">

      <div ng-if="adminSection === 'general'">
        <admin-general></admin-general>
      </div>

      <div ng-if="adminSection === 'employees'">
        <admin-employees></admin-employees>
      </div>

      <div ng-if="adminSection === 'roles'">
        <admin-roles></admin-roles>
      </div>

      <div ng-if="adminSection === 'offices'">
        <admin-offices></admin-offices>
      </div>

      <div ng-if="adminSection === 'office' && adminSubsection === 'positions'">
        <admin-office-positions></admin-office-positions>
      </div>

      <div ng-if="adminSection === 'role' && adminSubsection === 'job'">
        <admin-role-jobinfo></admin-role-jobinfo>
      </div>

    </div>
  </div>
</div>