<div id="pageDashboard" class="row">
  <div class="3u">
    <!-- You -->
    <div class="sectionContainer sectionYou">
      <div class="section">
        <div class="content">
          <employeepicture id="session.userinfo.id" picture="session.userinfo.picture"></employeepicture>
          <div class="name"><strong ng-bind="session.userinfo.fullName"></strong></div>
          <div class="position" ng-bind="session.userinfo.role.jobTitle"></div>
          <div class="sep"></div>
          <div class="head">You have accrued:</div>
          <div class="info-new">
            <!-- Paid Time Off (PTO) -->
            <div class="benefit">
              <div class="amount"><a href="#" ng-bind="session.userinfo.counter_pto"></a></div>
              <div class="desc">hours of PTO</div>
            </div>
            <!-- Sick Time -->
            <div class="benefit">
              <div class="amount"><a href="#" ng-bind="session.userinfo.counter_sick"></a></div>
              <div class="desc">hours of sick time</div>
            </div>
            <!-- Vacation Time -->
            <div class="benefit">
              <div class="amount"><a href="#" ng-bind="session.userinfo.counter_vaca"></a></div>
              <div class="desc">hours of vacation time</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Your Schedule -->
    <div class="sectionContainer sectionYourSchedule">
      <div class="section">
        <div class="header">Your Schedule</div>
        <div class="content">
          <div>More stuff..</div>
          <div>More stuff..</div>
        </div>
      </div>
    </div>
  </div>
  <div class="6u">
    <!-- Company Feed -->
    <div class="section sectionCompanyFeed">
      <div class="header">
        <div class="headerTitle"><h2>Company Feed<span id="ajax-loading" ng-show="feedIsSyncing()"><i class="fa fa-spinner fa-spin"></i></span></h2></div>
        <div class="headerFilter">
          <select data-placeholder="Choose a feed filter.." id="feedFilter">
            <option value="all">All Offices</option>
            <% for(var i = 0; i < offices.length; i++) { %>
              <option value="<%= offices[i].id %>"><%= offices[i].name %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div id="subSectionCompanyFeedEntries">
        <!-- Feed -->
        <div id="fid-{{feed.feedid}}" class="feeditem" ng-repeat="feed in feedData">
          <employeepicture tooltip="true" name="feed.authorName" job="feed.authorJobTitle" id="feed.authorId" picture="feed.authorPicture"></employeepicture>
          <div class="action" ng-bind-html="feed.content"></div>
          <div class="date">{{date | humanDate:1}} ({{feed.officeName}})</div>
          <!-- Comments -->
          <div class="comments" ng-if="feed.comments.length >= 1">
            <div class="manyComments" ng-if="feed.comments.length > 5 && feedHasHiddenComments(feed.feedid) === true" ng-click="showMoreComments(feed.feedid)">Show more of the previous comments.</div>
            <div id="cid-{{comment.id}}" ng-show="feedCommentIsVisible(feed.feedid,comment.id)" ng-repeat="comment in feed.comments" data-timestamp="{{comment.timestamp}}" class="specificComment">
              <employeepicture id="comment.authorId" tooltip="true" name="comment.authorName" picture="comment.authorPicture" job="comment.authorJob" small="true"></employeepicture>
              <div class="commentText" ng-bind-html="comment.content"></div>
              <relativetime timestamp="comment.createdAt" class="commentTime"></relativetime>
              <span class="commentLinks" ng-if="comment.author=true">
                - <a href="#">Delete Comment</a>
              </span>
            </div>
          </div>
          <div class="comment"><employeepicture picture="session.userinfo.picture" small="true"></employeepicture><input class="writeComment" type="text" placeholder="Write a comment.."></div>
          <!-- /Comments -->
        </div>
        <!-- /Feed -->
      </div>
    </div>
  </div>
  <div class="3u">
    <!-- Birthdays -->
    <div class="sectionContainer sectionCelebrations">
      <div class="section">
        <div class="header">Celebrations</div>
        <div class="content">
          <center>There are no celebrations today.</center>
        </div>
      </div>
    </div>
    <!-- Working Now -->
    <div class="sectionContainer sectionWorkingNow">
      <div class="section">
        <div class="header">Working Now</div>
        <div class="content">
          <div id="subSectionWorkers">
            <div class="loading"><i class="fa fa-spinner fa-spin"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>