<div class="section">
  <div class="content">
    Manage all of the clockable positions at the <strong><%- office.name %></strong> office from here.
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    Create a New Position for <%- office.name %>
  </div>

  <div class="content">
    Position Name:&nbsp;
    <input type="text" id="txtNewPosition" placeholder="Position Name">&nbsp;
    <input type="submit" id="btnNewPosition" value="Create Position">
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    Positions at <%- office.name %>
  </div>

  <div class="content">
    <table id="companyOfficePositions" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="left-align">Position Name</th>
          <th class="center-align" width="2%"></th>
        </tr>
      </thead>

      <tbody>
        <!-- Data will load via AJAX -->
      </tbody>
    </table>
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header red">
    Danger Zone
  </div>

  <div class="content">

    <!-- Delete Office -->
    <div class="settingWrapper">
      <div class="info">
        <div class="title red">Delete Office</div>
        <div class="subtitle red">If you would like to delete the office entirely, you can click the button below.<br>Employees will no longer be able to clock in to positions here.<br><strong>There is no way to undo this action.</strong></div>
      </div>
      <div class="setting right"><input type="button" id="btnDeleteOffice" class="red margin20 large" value="Delete Office"></div>
    </div>
  </div>
</div>

<script>
  CozyHR.officeId = "<%- office.id %>";
</script>