<div id="pageTimeclock">

	<div class="row">
		<div class="3u sectionContainer sectionWorkingOn">
			<div class="section">
				<div class="header">
						Clock In / Out
				</div>
				<div class="content">
					<div class="label">Where are you working?</div>
					<!-- Office Selection -->
					<div class="office">
						<select id="selOffice">
							<% for(var i = 0; i < offices.length; i++) { %>
							<option value="<%= offices[i].id %>"><%= offices[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="label">What are you working on?</div>
					<div id="sectionClockablePositions">
						<!-- Loaded via Mustache -->
					</div>
				</div>

			</div>
		</div>

		<div class="9u sectionContainer sectionTimeclock">
			<div class="section round-top-only">
				<div class="header">
					Time Clock
				</div>
				<div class="content no-padding">
					<div id="timeclockHeatmap"></div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Mustache Template for Timeclock Popup -->
<script id="timeclockPopup" type="x-tmpl-mustache">
	<table id="clockedTable">
		{{#clocks}}
		<tr>
			<th rowspan="2" class="position">
				<div class="name">{{position}}</div>
				<div class="location">at <strong>{{location}}</strong></div>
			</th>
		  <th class='times'><strong>In:</strong>&nbsp;{{time_in}}</th>
		</tr>
		<tr>
			<td class='times'><strong>Out:</strong>&nbsp;{{time_out}}</td>
		</tr>
		{{/clocks}}
	</table>
</script>

<!-- Mustache Template for Available Positions at Office -->
<script id="clockPositionsFillin" type="x-tmpl-mustache">
	<div class="row flush">
		{{#positions}}
		<div class="6u position"><a href="#"><div>{{name}}</div></a></div>
		{{/positions}}
	</div>
</script>

<!-- Initialize Script -->
<script>
	CozyHR.pageHelper.init( CozyHR.pageHelpers.timeclock );
</script>