<div id="pageTimeclock">

	<div class="row">
		<div class="3u sectionContainer sectionWorkingOn">
			<!--<div class="section">
				<div class="header green">
						Clocked In
				</div>
				<div class="content green">
					You're currently clocked in.
				</div>
			</div>

			<div class="sectionSpace"></div>-->

			<div class="section">
				<div class="header">
						Clock In / Out
				</div>
				<div class="content">
					<div class="label">Where are you working?</div>
					<!-- Office Selection -->
					<div class="office">
						<select id="selOffice">
							<% for(var i = 0; i < offices.length; i++) { %>
							<option value="<%= offices[i].id %>"><%= offices[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="label">What are you working on?</div>
					<div id="sectionClockablePositions">
						<!-- Loaded via Mustache -->
					</div>
				</div>
			</div>
		</div>

		<div class="9u sectionContainer sectionTimeclock">

			<div id="clockNoticeContainer" class="light-bg">
				Loading, one moment..
			</div>
			<div id="clocksContainer" class="light-bg">
				<div class="day">
					Thursday, October 16th, 2014:
				</div>
				<div class="entry">
					<a href="/admin/employee/5395dc48c8ce77790bf03a8b"><div class="picture" style="background-image:url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/t1.0-1/p320x320/1800382_10201588748065624_112239215_n.jpg')"></div></a>
					<div class="content">You clocked in to <strong>Live Chat</strong> at the <strong>NYC</strong> office.</div>
					<div class="timestamp">5m ago</div>
				</div>
				<div class="entry">
					<a href="/admin/employee/5395dc48c8ce77790bf03a8b"><div class="picture" style="background-image:url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/t1.0-1/p320x320/1800382_10201588748065624_112239215_n.jpg')"></div></a>
					<div class="content">You clocked in to <strong>QA</strong> at the <strong>NYC</strong> office.</div>
					<div class="timestamp">15m ago</div>
				</div>
			</div>

		</div>
	</div>

</div>

<!-- Initialize Script -->
<script>
	CozyHR.pageHelper.init( CozyHR.pageHelpers.timeclock );
</script>