<div id="pageTimeclock">

	<div class="row">
		<div class="3u sectionContainer sectionWorkingOn">
			<div class="section">
				<div class="header green">
						Clocked In
				</div>
				<div class="content green">
					You're currently clocked in.
				</div>
			</div>

			<div class="sectionSpace"></div>

			<div class="section">
				<div class="header">
						Clock In / Out
				</div>
				<div class="content">
					<div class="label">Where are you working?</div>
					<!-- Office Selection -->
					<div class="office">
						<select id="selOffice">
							<% for(var i = 0; i < offices.length; i++) { %>
							<option value="<%= offices[i].id %>"><%= offices[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="label">What are you working on?</div>
					<div id="sectionClockablePositions">
						<!-- Loaded via Mustache -->
					</div>
				</div>
			</div>
		</div>

		<div class="9u sectionContainer sectionTimeclock">
			<div class="section round-top-only">
				<div class="header">
					Clocked Hours Heatmap
				</div>
				<div class="content no-padding">
					Nothing.
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Initialize Script -->
<script>
	CozyHR.pageHelper.init( CozyHR.pageHelpers.timeclock );
</script>