<div class="row">
	<div class="9u">
		<div>
			<h2>Today's Time Log</h2>
		</div>

		<div>
		You are not currently clocked in.
		</div>
	</div>
	<div class="3u">
		<div>
			<h3>Clock In / Out</h3>
		</div>

		<div id="clockInOutBox" class="sectionClockInOut">
			<p>Click and hold to click in or out.</p>
			<div class="fillBox"></div>
		</div>
	</div>
</div>

<!-- Initialize Script -->
<script>
	var _inst = new TIMECLOCK_UTILS();
	_inst.init();
</script>