<div id="pageTimeclock">

	<div class="row">
		<div class="3u sectionContainer sectionWorkingOn">
			<div class="section">
				<div class="header">
						Clock In / Out
				</div>
				<div class="content">
					<div class="label">Where are you working?</div>
					<!-- Office Selection -->
					<div class="office">
						<select id="selOffice">
							<option value="jduf12323">NYC</option>
						</select>
					</div>
					<div class="label">What are you working on?</div>
					<!-- Example Row -->
					<div class="row flush">
						<div class="6u position"><a href="#"><div>Something</div></a></div>
						<div class="6u position"><a href="#"><div>Something</div></a></div>
					</div>
					<!-- End Example Row -->
					<!-- Example Row -->
					<div class="row flush">
						<div class="6u position"><a href="#"><div>Something</div></a></div>
						<div class="6u position"><a href="#"><div>Something</div></a></div>
					</div>
					<!-- End Example Row -->
					<!-- Example Row -->
					<div class="row flush">
						<div class="6u position"><a href="#"><div>Something</div></a></div>
						<div class="6u position"><a href="#"><div>Something</div></a></div>
					</div>
					<!-- End Example Row -->
				</div>

			</div>
		</div>

		<div class="9u sectionContainer sectionTimeclock">
			<div class="section round-top-only">
				<div class="header">
					Time Clock
				</div>
				<div class="content no-padding">
					<div id="timeclockHeatmap"></div>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="timeclockDay">

</div>

<!-- Initialize Script -->
<script>
	CozyHR.pageHelper.init( CozyHR.pageHelpers.timeclock );
</script>