<div id="pageTimeclock">

	<div class="row">

		<div class="-9u 3u">
			<div>
				<h3>Clock In / Out</h3>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="3u sectionContainer">
			<div class="section">
				<div class="header">
						Upcoming Schedule
				</div>
				<div class="content">
					Schedule here..
				</div>
			</div>
		</div>

		<div class="9u sectionContainer">
			<div class="section">
				<div class="header">
					Time Clock
				</div>
				<div class="content no-padding">
					<!-- Each Day -->
					<table class="day" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="name">Monday</td>
							<td class="daycontent">
								<div class="bar">

								</div>
								<div class="shifts">
									<div class="shiftContainer">
										<div>
											<div class="head">Shift</div>
											<div class="head">Clock In</div>
											<div class="head">Clock Out</div>
											<div class="head">Total Time</div>
										</div>
										<div>
											<div class="shift"><span class="indicator">&nbsp;</span>Live Chat</div>
											<div class="shift">8:00 am</div>
											<div class="shift">12:00 pm</div>
											<div class="shift">4 hours</div>
										</div>
										<div>
											<div class="shift"><span class="indicator">&nbsp;</span>Live Chat</div>
											<div class="shift">8:00 am</div>
											<div class="shift">12:00 pm</div>
											<div class="shift">4 hours</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<!-- End Each Day -->
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Initialize Script -->
<script>
	var _inst = new TIMECLOCK_UTILS();
	_inst.init();
</script>