<div id="pageTimeclock">

	<div class="row">
		<div class="3u sectionContainer sectionWorkingOn">
			<div class="section">
				<div class="header">
						What are you working on?
				</div>
				<div class="content">
					<!-- Office Selection -->
					<div class="office">
						<select id="selOffice">
							<option value="jduf12323">NYC</option>
						</select>
					</div>
					<!-- Example Row -->
					<div class="row flush">
						<div class="6u position"><a href="#"><div>Something</div></a></div>
						<div class="6u position"><a href="#"><div>Something</div></a></div>
					</div>
					<!-- End Example Row -->
					<!-- Example Row -->
					<div class="row flush">
						<div class="6u position"><a href="#"><div>Something</div></a></div>
						<div class="6u position"><a href="#"><div>Something</div></a></div>
					</div>
					<!-- End Example Row -->
					<!-- Example Row -->
					<div class="row flush">
						<div class="6u position"><a href="#"><div>Something</div></a></div>
						<div class="6u position"><a href="#"><div>Something</div></a></div>
					</div>
					<!-- End Example Row -->
				</div>

			</div>
		</div>

		<div class="9u sectionContainer sectionTimeclock">
			<div class="section round-top-only">
				<div class="header">
					Time Clock
				</div>
				<div class="content no-padding">
					<!-- Each Day -->
					<table class="day" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="name">Monday</td>
							<td class="daycontent">
								<div class="bar">
									<div class="barshift tt" title="Live Chat" data-start="100" data-end="200" data-color="#ff0"></div>
									<div class="barshift tt" title="Email" data-start="200" data-end="600" data-color="#f00"></div>
								</div>
								<div class="shifts">
									<div class="shiftContainer">
										<div>
											<div class="head">Shift</div>
											<div class="head">Clock In</div>
											<div class="head">Clock Out</div>
											<div class="head">Total Time</div>
										</div>
										<div>
											<div class="shift"><span class="indicator">&nbsp;</span>Live Chat</div>
											<div class="shift">8:00 am</div>
											<div class="shift">12:00 pm</div>
											<div class="shift">4 hours</div>
										</div>
										<div>
											<div class="shift"><span class="indicator">&nbsp;</span>Live Chat</div>
											<div class="shift">8:00 am</div>
											<div class="shift">12:00 pm</div>
											<div class="shift">4 hours</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<!-- End Each Day -->
					<!-- Each Day -->
					<table class="day" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="name">Monday</td>
							<td class="daycontent">
								<div class="bar">
									<div class="barshift tt" title="Live Chat" data-start="100" data-end="200" data-color="#ff0"></div>
									<div class="barshift tt" title="Email" data-start="200" data-end="600" data-color="#f00"></div>
								</div>
								<div class="shifts">
									<div class="shiftContainer">
										<div>
											<div class="head">Shift</div>
											<div class="head">Clock In</div>
											<div class="head">Clock Out</div>
											<div class="head">Total Time</div>
										</div>
										<div>
											<div class="shift"><span class="indicator">&nbsp;</span>Live Chat</div>
											<div class="shift">8:00 am</div>
											<div class="shift">12:00 pm</div>
											<div class="shift">4 hours</div>
										</div>
										<div>
											<div class="shift"><span class="indicator">&nbsp;</span>Live Chat</div>
											<div class="shift">8:00 am</div>
											<div class="shift">12:00 pm</div>
											<div class="shift">4 hours</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<!-- End Each Day -->
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Initialize Script -->
<script>
	var _inst = new TIMECLOCK_UTILS();
	_inst.init();
</script>