<div class="section">
  <div class="content">
    <i class="fa fa-info-circle"></i>&nbsp;Manage all of the available roles at <strong><%- req.session.userinfo.company.name %></strong> from here.
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    Create a New Role
  </div>

  <div class="content">
    Job Title:&nbsp;
    <input type="text" id="txtNewRole" placeholder="Role Name">&nbsp;
    <input type="submit" id="btnCreateRole" value="Create Role">
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    <i class="fa fa-sitemap"></i>&nbsp;&nbsp;Roles
  </div>

  <div class="content">

    <table id="companyRoles" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="left-align">Role Name</th>
          <th class="center-align" width="15%">Employees</th>
        </tr>
      </thead>

      <tbody>
        <!-- Data will load via AJAX -->
      </tbody>
    </table>

  </div>
</div>