{{#clocks}}
<div id="clock-{{clockId}}" class="clock-entry">
  <div class="column worked">{{positionName}} <span class="lighter">@ {{locationName}}</span></div>
  <div class="column day">{{{dayName}}}</div>
  <div class="column clockinout">{{clockIn}}</div>
  <div class="column clockinout">{{clockOut}}</div>
  <div class="column total">{{totalTime}}</div>
</div>
{{/clocks}}