<div id="cid-{{commentId}}" data-timestamp="{{timestamp}}" style="{{{extraStyling}}}" class="specificComment">
  {{{pictureHtml}}}
  <div class="commentText">{{{contentHtml}}}</div>
  <span class="commentTime">Just now</span>
  <span class="commentLinks">
    {{#isAuthor}}
    - <a href="#" onclick="CozyHR.pageHelper.instance.doDeleteComment(this, '{{commentId}}')">Delete Comment</a>
    {{/isAuthor}}
  </span>
</div>