{{#feedData}}
<div id="fid-{{feedId}}" class="feeditem">
  {{{pictureHtml}}}
  <div class="action">{{{contentHtml}}}</div>
  <div class="date">{{date}} ({{officeName}})</div>
  <div class="comments">
    {{#showMoreComments}}
    <div class="manyComments"><a href="#" onclick="CozyHR.pageHelper.instance.loadMoreComments('{{feedId}}')">Show more of the previous <strong><span class="commentsHidden">{{commentsHidden}}</span></strong> comments.</a></div>
    {{/showMoreComments}}
    {{{commentsHtml}}}
  </div>
  <div class="comment"><div class="picture small" style="background-image:url({{pictureUrl}})"></div><input class="writeComment" type="text" data-feedid="{{feedId}}" placeholder="Write a comment.."></div>
</div>
{{/feedData}}