{{#workers}}
<div class="worker">
  {{{pictureHtml}}}
  <div class="name">{{fullName}}</div>
  <div class="info">{{clockedPosition}} @ {{clockedLocation}}</div>
</div>
{{/workers}}
{{^workers}}
<div class="no-workers">No one is working right now.</div>
{{/workers}}